<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Pantry</title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>

  <h1><%= user.username %>'s Pantry</h1>
  <a href="/users/<%= user._id %>/foods/new">Add New Item</a>

  <% if(pantry.length > 0) { %>
    <ul>
      <% pantry.forEach(item => { %>
        <li>
          <%= item.name %>
          <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">Edit</a>
          <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No items in your pantry yet.</p>
  <% } %>
</body>
</html>
